{% extends "layouts/main_layout.html" %}
{% load static %}
	{% block head %}
		<link rel="stylesheet" href="{% static 'css/main.css' %}">
	{% endblock head %}
	{% block title %}
		Esasy
	{% endblock title %}

	{% block body %}
		<main>
			<div class="d-flex align-items-center" id="categories-row">
				<div class="c-btn">
					<a href="#">Hello</a>
				</div>
				<div class="c-btn">
					<a href="#">Hello</a>
				</div>
				<div class="c-btn">
					<a href="#">Hello</a>
				</div>
			</div>
			<div class="row cards my-5 mx-auto">
				<div class="card">
					<div class="face face1">
						<div class="content">
							<span class="stars"></span>
							<h2 class="java">AMQ enjamy</h2>
							<p class="java">Ýagdaýy: gurat</p>
							<p class="java">Baglanyşyk ýygylygy: 12ms</p>
						</div>
					</div>
					<div class="face face2" style="background: linear-gradient(0deg, rgba(0, 255, 225, 0.3), rgba(8, 0, 255, 0.3)), url({% static 'img/moxa.jpg' %});">
						<h2>AMQ</h2>
					</div>
				</div>
				<div class="card">
					<div class="face face1">
						<div class="content">
							<span class="stars"></span>
							<h2 class="java">Java</h2>
							<p class="java">Java is a class-based, object-oriented programming language that is designed to have as few implementation dependencies as possible.</p>
						</div>
					</div>
					<div class="face face2">
						<h2>AMQ</h2>
					</div>
				</div>
				<div class="card">
					<div class="face face1">
						<div class="content">
							<span class="stars"></span>
							<h2 class="java">Java</h2>
							<p class="java">Java is a class-based, object-oriented programming language that is designed to have as few implementation dependencies as possible.</p>
						</div>
					</div>
					<div class="face face2">
						<h2>AMQ</h2>
					</div>
				</div>
				<div class="card">
					<div class="face face1">
						<div class="content">
							<span class="stars"></span>
							<h2 class="java">Java</h2>
							<p class="java">Java is a class-based, object-oriented programming language that is designed to have as few implementation dependencies as possible.</p>
						</div>
					</div>
					<div class="face face2">
						<h2>AMQ</h2>
					</div>
				</div>
				<div class="card">
					<div class="face face1">
						<div class="content">
							<span class="stars"></span>
							<h2 class="java">Java</h2>
							<p class="java">Java is a class-based, object-oriented programming language that is designed to have as few implementation dependencies as possible.</p>
						</div>
					</div>
					<div class="face face2">
						<h2>AMQ</h2>
					</div>
				</div>
				<div class="card">
					<div class="face face1">
						<div class="content">
							<span class="stars"></span>
							<h2 class="java">Java</h2>
							<p class="java">Java is a class-based, object-oriented programming language that is designed to have as few implementation dependencies as possible.</p>
						</div>
					</div>
					<div class="face face2">
						<h2>AMQ</h2>
					</div>
				</div>
			</div>
		</main>
	</div>
	{% endblock body %}
	{% block scripts %}
	{% endblock scripts %}