{% extends "layouts/main_layout.html" %}
{% load static %}
	{% block head %}
		<link rel="stylesheet" href="{% static 'css/main.css' %}">
	{% endblock head %}
	{% block title %}
		Esasy
	{% endblock title %}

	{% block body %}
		<main>
			<div class="d-flex align-items-center my-3" id="categories-row">
				<div class="c-btn">
					<a href="#" class="stable-color">Durnukly</a>
				</div>
				<div class="c-btn">
					<a href="#" class="stable-color">Näsazlyk</a>
				</div>
				<div class="c-btn">
					<a href="#" class="stable-color">Düzedilmez ýagdaýda</a>
				</div>
			</div>
			<div id="cards-box">
				{% for device_type in device_types %}
				<div class="my-2 d-header">{{ device_type.name }}</div>
				<div class="row cards py-4 mx-auto" id="{{ device_type.short }}"></div>
				{% endfor %}
			</div>
		</main>
	</div>
	{% endblock body %}
	{% block scripts %}
    <script src="{% static 'js/main.js' %}"></script>
	{% endblock scripts %}